body {
    min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

#formA{
    margin-top: 50px; 
    margin-bottom: 50px; 
    margin-left: 10px;
    margin-right: 10px;
    max-width: 950px;
    min-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #d7d5d5;
  }

h2 {
    color: #333;
}

label {
    font-weight: bold;
}

#size {
    font-size: 16px;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.matrix-cell {
    padding: 8px;
}


.matrix-cell input {
    width: 50px;
    padding: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #0056b3;
  }


